<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>YMMO - Utilisateurs</title>
    <style>
        table {
            border-collapse: collapse;
            width: 90%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #333;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #eee;
        }
    </style>
</head>

<body>
    <h1>Liste des Agences</h1>
    {% for a in agences %}
    <div>
        <p>{{ a.id }}</p>
        <p>{{ a.nom }}</p>
        <p>{{ a.prenom }}</p>
        <p>{{ a.email }}</p>
        <p>{{ a.telephone }}</p>
        <p>{{ a.role }}</p>
    </div>
    {% endfor %}
    </div>
</body>

</html>