{% extends 'base.html' %}
{% block title %}YMMO - Ajouter un nouveau commercial{% endblock %}

{% block content %}
<section class="connexion-section">
    <h2 class="ajout-commercial">Créer un compte Commercial</h2>

    <form method="POST" action="{{ url_for('dashboard.ajouter_commercial') }}" class="connexion-form">
        <div class="connexion-form-group">
            <label>Prénom :</label>
            <input type="text"placeholder="Entrez le prénom" name="fname" required>
        </div>
        <div class="connexion-form-group">
            <label>Nom de famille :</label>
            <input type="text" placeholder="Entrez le nom" name="lname" required>
        </div>
        <div class="connexion-form-group">
            <label>Adresse Email professionnelle :</label>
            <input type="email" placeholder="example@domain.com" name="email" required>
        </div>
        <div class="connexion-form-group">
            <label>Mot de passe provisoire :</label>
            <input type="password" placeholder="Entrez un mot de passe" name="password" required>
        </div>
        <div class="connexion-form-group">
            <label>Confirmez le mot de passe provisoire :</label>
            <input type="password" placeholder="Confirmez le mot de passe" name="confirm_password"
                required>
        </div>
        <div class="connexion-form-group">
            <label>Numéro de téléphone :</label><br>
            <input type="text" placeholder="06XXXXXXXX" name="phone" required>
        </div>

        {% if session.get('role') == 'admin' %}
        <div class="form-group">
            <label for="id_agence">Affectation à une agence du réseau :</label><br>
            <select>
                <option value="">Choisir une agence territoriale</option>
                {% for agence in agences %}
                <option value="{{ agence.id_agence }}">{{ agence.nom }} ({{ agence.ville }})</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <div class="connexion-form-group">
            <input type="hidden" name="id_agence" value="{{ id_agence }}">
            <p><strong>Agence assignée par défaut :</strong> Identifiant d'agence #{{ id_agence }}</p>
        </div>
        {% endif %}

        <button type="submit" class="connection-btn">Valider le compte</button>
    </form>

    <a href="{{ url_for('auth.voir_profil') }}" class="btn-annuler">Annuler et retourner à mon Profil</a>
    {% endblock %}