{% extends 'base.html' %} {% block title %}YMMO - Plan de localisation{%
endblock %} {% block content %}
<section class="geolocalisation-info">
  <h1>Géolocalisation du bien</h1>
  {% if from_agence %}
  <p><strong>Agence :</strong> {{ bien.ville }}</p>
  <p>
    <strong>Adresse de référence :</strong> {{ bien.adresse }}, {{ bien.ville }}
  </p>
  {% else %}
  <p><strong>Propriété :</strong> {{ bien.type_bien }} - {{ bien.prix }} €</p>
  <p>
    <strong>Adresse de référence :</strong> {{ bien.adresse }}, {{ bien.ville }}
  </p>
  {% endif %}
</section>


<div>
  {{ carte_html|safe }}
</div>

<p>
  {% if from_agence %}
  <a href="{{ url_for('agence.agence_detail', id_agence=id_agence) }}">← Retourner à la fiche de l'agence</a>
  {% else %}
  <a href="{{ url_for('bien.detail_bien', id_bien=bien.id_bien) }}">← Retourner à la fiche technique du bien</a>
  {% endif %}
</p>

{% endblock %}