<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>YMMO - Biens</title>
    <style>
        table {
            border-collapse: collapse;
            width: 90%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #333;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #eee;
        }
    </style>
</head>

<body>
    <h1>Liste des Biens</h1>
    {% for b in biens %}
    <div>
        <p>{{ b.id_bien }}</p>
        <p>{{ b.ville }}</p>
        <p>{{ b.adresse }}</p>
        <p>{{ b.description }}</p>
        <p>{{ b.nbr_pieces }}</p>
        <p>{{ b.surface }}</p>
        <p>{{ b.type_bien }}</p>
        <a href="/bien/{{ b.id_bien }}">En savoir plus</a>
    </div>
    {% endfor %}
    </div>
</body>

</html>
