{% extends 'base.html' %}
{% block title %}YMMO - Modifier mon Profil{% endblock %}
{% block content %}

<section class="connexion-section">
    <h1>Modifier vos informations personnelles</h1>

    <form method="POST" action="{{ url_for('auth.modifier_profil') }}" class="connexion-form">
        <div class="connexion-form-group">
            <label>Prénom :</label>
            <input type="text" name="fname" value="{{ utilisateur.prenom }}" required>
        </div>
        <div class="connexion-form-group">
            <label>Nom :</label>
            <input type="text" name="lname" value="{{ utilisateur.nom }}" required>
        </div>
        <div class="connexion-form-group">
            <label>Adresse Email :</label>
            <input type="email" name="email" value="{{ utilisateur.email }}" required>
        </div>
        <div class="connexion-form-group">
            <label>Numéro de téléphone :</label>
            <input type="text" name="phone" value="{{ utilisateur.telephone or '' }}">
        </div>
        <button type="submit"  class="connection-btn">Enregistrer les modifications</button>
    </form>
    <a href="{{ url_for('auth.voir_profil') }}" class="btn-annuler">Retour à mon espace</a>
</section>
{% endblock %}