<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>YMMO - Erreur 404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="error-section">
        <div class="error-container">
            <h1>404</h1>
            <h2>Oups ! La page est introuvable.</h2>
            <p>Il semble que vous ayez suivi un lien brisé ou que la page ait été déplacée.</p>
            <a href="/ymmo" class="btn-retour">Retour à l'accueil</a>
        </div>
    </section>
</body>
</html>
