<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>YMMO - Biens</title>
    <style>
        table {
            border-collapse: collapse;
            width: 90%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #333;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #eee;
        }
    </style>
</head>

<body>
    <h1>Détail du Bien</h1>
    <div>
        <p>ID : {{ bien.id }}</p>
        <p>Ville : {{ bien.ville }}</p>
        <p>Adresse : {{ bien.adresse }}</p>
        <p>Description : {{ bien.description }}</p>
        <p>Nombre de pièces : {{ bien.nbr_pieces }}</p>
        <p>Surface : {{ bien.surface }}</p>
        <p>Type de bien : {{ bien.type_bien }}</p>
        <p>Exposition : {{ bien.exposition }}</p>
        <p>État logement : {{ bien.etat_logement }}</p>
        <p>Énergie chauffage : {{ bien.energie_chauffage }}</p>
        <p>Type eau chaude : {{ bien.type_eau_chaude }}</p>
        <p>Type chauffage : {{ bien.type_chauffage }}</p>
        <p>Moyen eau chaude : {{ bien.moyen_eau_chaude }}</p>
        <p>Étage : {{ bien.etage }}</p>
        <p>Vue : {{ bien.vue }}</p>
        <p>Prix : {{ bien.prix }}</p>
        <p>Statut : {{ bien.statut }}</p>
        <p>ID Statistique : {{ bien.id_statistique }}</p>
        <p>ID Agence : {{ bien.id_agence }}</p>
    </div>
</body>

</html>