{% extends 'base.html' %}
{% block title %}YMMO - Espace Personnel{% endblock %}

{% block content %}
<section class="profil-info-section">
    <h1>Votre Espace Personnel</h1>
    <div class="profil-info">
        <strong>Nom complet :</strong> {{ utilisateur.prenom }} {{ utilisateur.nom }}
        <strong>Adresse Email :</strong> {{ utilisateur.email }}
        <strong>Téléphone :</strong> {{ utilisateur.telephone }}
        <strong>Habilitation :</strong> {{ utilisateur.role|upper }}
    </div>
</section>


{% if session.get('role') == 'admin' %}
    <hr>

    <section class="moderation-section">
        <h2>Zone Administration : Modération des comptes</h2>
        <p>Saisissez l'adresse de messagerie d'un utilisateur pour révoquer son accès et effacer son profil.</p>
        
        <form method="POST" action="/utilisateur/supprimer" onsubmit="return confirm('Confirmer la purge définitive de ce compte utilisateur ?');">
            <label><strong>Email de l'utilisateur à détruire :</strong></label>
            <input type="email" name="email" placeholder="lola@gmail.com" required>
            <button type="submit">Supprimer définitivement l'utilisateur</button>
        </form>
    </section>
{% endif %}

{% if session.get('role') == 'client' %}
    <hr>

    <section class="catalogue-section">
        <h2>Vos Favoris</h2>
        <div class="grid">
            {% for item in favoris %}
                <article class="bien-card">
                    <div>
                        <img class="bien-image" src="{{ item.images[0] if item.images else 'static/images/default_bien.jpg' }}"
                            alt="Photo du {{ item.type_bien }} à {{ item.ville }}"/>
                        <h4>{{ item.type_bien|capitalize }}</h4>
                        <p><strong>Ville :</strong> {{ item.ville }}</p>
                        <p><strong>Prix :</strong> {{ item.prix }} €</p>
                        <p><em>{{ item.surface }} m² — {{ item.nbr_pieces }} pièces</em></p>
                    </div>
                        <a href="{{ url_for('bien.detail_bien', id_bien=item.id_bien) }}" class="btn-card">Consulter</a><br><br>
                        <form method="POST" class="btn-card" action="{{ url_for('bien.retirer_favoris', id_bien=item.id_bien) }}">
                            <button type="submit">Retirer</button>
                        </form>
                </article>
            {% else %}
                <p>Aucun bien enregistré dans vos favoris.</p>
            {% endfor %}
        </div>
    </section>
{% endif %}
{% endblock %}